.typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.typography-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.site-card-wrapper {
  padding: 30px;
  background: #ececec;
  justify-content: center;
  width: 100%;
  display: flex;
}

